.navbar-lewagon {
  justify-content: space-between;
  background: $black;
  color: $white;
  border-bottom: 1px inset $blue;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  height: 60px;
}

.nav-link {
  color: $white;
}
